<div class="bg">
  <app-nav></app-nav>
  <div class="container">
    <div class="row">
      <h1><em>Stay in touch</em></h1>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col align-self-start">
        Follow Me on all My Social Media Channels.
        <br />

      </div>
      <div class="col align-self-center">
        <h3>LinkTree QR code</h3>
        <img src="assets/images/jludo.png" />
      </div>
      <div class="col align-self-end">
        <button class="btn btn-success">Contact Me</button>
      </div>
    </div>
  </div>
</div>
