<div class="bg">
  <app-nav></app-nav>
  <h3>
    Contact Me,
    <small class="text-muted">I am excited to hear from you!</small>
  </h3>
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="input-group input-group-lg">
      <span class="input-group-text" id="name">Full Name</span>
      <input
        type="text"
        class="form-control"
        aria-label="Full Name"
        placeholder="Joe Smith"
        name="fullname"
        ngModel
        required
        #name="ngModel"
      />
    </div>
    <span *ngIf="!name.valid && name.touched" style="color:red">
      Please tell me your name!
    </span>
    <br />
    <div class="input-group input-group-lg">
      <span class="input-group-text" id="phone">Phone</span>
      <input
        type="text"
        class="form-control"
        aria-label="Phone Number"
        ngModel
        minlength="10"
        name="phone"
        #phone="ngModel"
        placeholder="270.555.0000"
      />
    </div>
    <span *ngIf="!phone.valid && phone.touched" style="color: red;">Please enter a valid 10 digit Phone Number! </span>
    <br />
    <div class="input-group input-group-lg">
      <span class="input-group-text" id="email">Email</span>
      <input
        type="text"
        class="form-control"
        aria-label="email"
        id="email"
        ngModel
        name="email"
        email
        required
        #email="ngModel"
        placeholder="test@test.com"
      />
    </div>
    <span class="help-block" *ngIf="!email.valid && email.touched" style="color:red">
        Please enter a valid email!</span>
    <br/>

    <p>What can I help you with?</p>

    <div
      class="btn-group"
      role="group"
      aria-label="Basic checkbox toggle button group"
      style="background-color: white"
    >
      <input type="checkbox" class="btn-check" id="PPC" autocomplete="off" name="ppc" ngModel />
      <label class="btn btn-outline-primary" for="PPC"
        >Pay per click advertising</label
      >

      <input type="checkbox" class="btn-check" id="SEO" name="seo" ngModel autocomplete="off" />
      <label class="btn btn-outline-primary" for="SEO">SEO </label>

      <input
        type="checkbox"
        class="btn-check"
        id="Socials"
        name="socials"
        ngModel
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="Socials">Social Media</label>

      <input
        type="checkbox"
        class="btn-check"
        id="Web dev"
        name="webDev"
        ngModel
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="Web dev"
        >Web Development</label
      >

      <input
        type="checkbox"
        class="btn-check"
        id="web des"
        name="webDesign"
        ngModel
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="web des">Web Design</label>
    </div>

    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        ngModel
        name="additionalInfo"
        id="floatingTextarea2"
        style="height: 100px"
      ></textarea>
      <label for="floatingTextarea2">Additional Info</label>
    </div>
    <br />

    <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button>
    <div class="alert alert-primary" role="alert" *ngIf="submitted">
      Thank you!  I will get back to you as soon as I can
    </div>
  </form>
</div>
<div>

</div>
