
<mat-toolbar color="primary">
  <span routerLink="/home">JPL  |</span>
  <span class="flexExpand">|   Home  |</span>
  <span routerLink="/home">|   Resume  |</span>
  <span class="flexExpand">|   Contact</span>

</mat-toolbar>
<div>

      <mat-toolbar layout="fill">
        <span class="fill-space"></span>
        <a [href]="" target="_blank">
          <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png" alt="" matTooltip="Twitter"
           matTooltipPosition="above">
        </a>
        <a [href]="" target="_blank">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png" alt="" matTooltip="Github"
           matTooltipPosition="above">
        </a>
        <a [href]="" target="_blank">
          <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
        </a>
        <span class="fill-space"></span>
      </mat-toolbar>
      <mat-list [ngStyle]="{'display':'none'}">
        <mat-list-item></mat-list-item>
      </mat-list>
