.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: Url('assets/images/Murray_State_Racers_logo.svg.png');
  background-size: cover;
}
.example-header-image2{
  background-image: Url('assets/images/Paducah Bank Logo.jpeg');
  background-size: 45px;
  background-repeat: no-repeat;

}
.example-header-image3{
  background-image: Url('assets/images/Paducah.png');
  background-size: 45px;
  background-repeat: no-repeat;

}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}
.mat-raised-button{
  position:abolute; bottom:0;
}
