<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title>Current Company</mat-card-title>
        <mat-card-subtitle>Paducah Bank</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/images/Jordan Headshot .jpg"
        alt="Paducah Bank Headshot"
      />
      <mat-card-content>
        <em>Digital Marketing Specialist</em>
        <p>2019 to Present</p>
        <ul>
          <li>
            Manage the design, development, and maintenance of company website
            and social media channels.
          </li>
          <li>
            Daily monitoring and processing of Google Analytics and Social Media
            Analytics
          </li>
          <li>
            Oversee and organize all vendors for physical promotional items,
            branding events and digital projects.
          </li>
        </ul>
        <em>Universal Banker</em>
        <p>2017 to 2019</p>
        <ul>
          <li>
            Provide customers with information on accounts, interest rates and
            product speciﬁcations. Assist customers by addressing and resolving
            questions or complaints both in person and by phone. Process
            incoming transactions involving several different methods i.e. DDA,
            savings accounts, loans, safe deposit box, etc.
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Paducah Bank</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title>Previous Experience</mat-card-title>
        <mat-card-subtitle>Outside Sales</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets/images/Previous exp.jpeg"
        alt="Paducah Bank Headshot"
      />
      <mat-card-content>
        <em>Territory Sales Rep - Hibbs Electro Mechanical </em>
        <p>2017</p>
        <ul>
          <li>
            Establish new clients through exploratory channels of communication
            (cold calling, drop by visits, pipeline development, etc.)
          </li>
        </ul>
        <em>Outside Sales Rep - Petter Supply</em>
        <p>2014 to 2017</p>
        <ul>
          <li>
            Service existing clients by building exceptional relationships
            through planning and executing weekly visits and delivery schedules.
            Coordinate with inside sales team by communicating wants and needs
            of clients to deliver the best pricing for both potential and
            existing business.
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">LinkedIn</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Education</mat-card-title>
        <mat-card-subtitle
          >Murray State, Bachelor of Science 2010 - 2014</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="assets/images/Graduation.jpeg"
        alt="Jordan & CheyAnne"
      />
      <mat-card-content>
        <b>Area: Marketing | Minor: Entrepreneurship</b> <br />

        <em>Internships</em>
        <ul>
          <li>Qdoba Restaurant Corporation, Marketing Specialist 2014</li>
          <li>Paducah Bank, Summer Marketing Intern 2014</li>
          <li>Computer Service Inc, Summer Marketing Intern 2013</li>
          <li>Murray State Athlectic Promotions, I-Racers 2012-2013</li>
        </ul>
        <em>College Activities</em>
        <ul>
          <li>Sigma Chi Fraternity Member Epsilon Tau Chapter (2011-2014)</li>
          <li>Morehead State and Murray State Football teams (2010-2012)</li>
          <li>Head Intramural Supervisor/ Referee (2012-2014)</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">
          Murray State Business Department
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
