<div class="bg">
  <nav class="navbar navbar-transparant navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">JPL </a>
      <a class="navbar-brand" routerLink="/resume">Resume</a>
      <a class="navbar-brand" routerLink="/contact">Contact</a>
      <a class="navbar-brand" routerLink="/social">Social Media</a>
      <a class="navbar-brand"
        ><em
          >"you cant stop the waves but you can learn how to surf" - Jon
          Kabaat-Zinn
        </em></a
      >
    </div>
  </nav>
  <h2 class="py-5 text-center">Hello, my name is Jordan.</h2>
  <p class="text-center">
    I am digital marketer, web developer and UX designer.
  </p>
</div>

